body{
    background-color: gray;
    color: red;
    font-size: x-large;
}
.images{
    margin: auto;
    padding: 25px;
}
.fig1{
    margin: 5px;
    padding: 25px;
}
.fig2{
    margin: 5px;
    padding: 25px;
}
.fig3{
    margin: 5px;
    padding: 25px;
}
.title{
    color: blue;
    text-align: end; !important
}
.aboutme{
    color: blue;
    background-image: url();
    width: 100%;
    font-size: large;
    
}
body { 
    background: url(instructor.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .myfooter{
      list-style: none;
      font-size: large;
      display: flex;
      justify-content: space-between;
      color: black;
  }
.contact{
    background-color: lightsalmon;
    border-radius: 1rem;
    font-size: medium;
    color: blue;
}
body h1{
    counter-reset: red;
}
.navbar-nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .images{
        display: flex;
    }
}
@media only screen and (max-width: 600px){
    .images{
        display: inline-block;
    }
	/*Big smartphones [426px -> 600px]*/
}
